/* HTML Stylesheet */ /* DylanBebbingtonSheary | dylan.sheary@student.hhs.school.nz */
/* Google Fonts Imports: */
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita&family=Athiti&family=Exo+2&family=Lobster+Two:ital@1&family=Philosopher&family=Play&family=Quantico&family=Titillium+Web&family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/* Styles */

    /* To acheive my intended effect of a gradient surrounding another gradient, having an empty text box (with the new gradient as its border) with margiannally larger proportions than the text box it surrounds is required. The empty text box is listed under an h3 tag. */
    
    h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 52px;
    /* A text shadow like this, one that has repeated shadows around the lettering, acheives an outline effect. */
    text-shadow: 2px 0 0 #f8fcff, -2px 0 0 #f8fcff, 0 2px 0 #f8fcff, 0 -2px 0 #f8fcff, 1px 1px #f8fcff, -1px -1px 0 #f8fcff, 1px -1px 0 #f8fcff, -1px 1px 0 #f8fcff;
    font-weight: bold;
    }

    /* Temp. Code: */

    /*
    background-color: grey;
    padding: 7px;
    border-radius: 7px;
    width: 350px;
    height: 60px;
    margin: auto;
    background-image: -webkit-linear-gradient(to right, black, white);
    background-image: -moz-linear-gradient(to right, black, white);
    background-image: -o-linear-gradient(to right, black, white);
    background-image: linear-gradient(to right, black, white); 
    */

    /* End Of Temp Code */

    nav {
        
    }

    body {
    /* This background gradient is very heavily based on a public domain background gradient which was supplied and shared by Atle Mo (design) and Sébastien Grosjean (code) */
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1c1c1c 10px, transparent 10px),
        linear-gradient(#1c1c1c 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    text-align: center;
    }

    /* Redundant code

    h2 {
    font-family: 'Amita', cursive;
    text-decoration: none;
    background-color: grey;
    border: 5px;
    width: 250px;
    text-shadow: 0 1px 0 white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin: auto;
    background-image: -webkit-linear-gradient(to bottom, black, white);
    background-image: -moz-linear-gradient(to bottom, black, white);
    background-image: -o-linear-gradient(to bottom, black, white);
    background-image: linear-gradient(to top, black, white);  
    opacity: 50%;
    A text shadow like this, one that has repeated shadows around the lettering, acheives an outline effect.
    text-shadow: 2px 0 0 #f8fcff, -2px 0 0 #f8fcff, 0 2px 0 #f8fcff, 0 -2px 0 #f8fcff, 1px 1px #f8fcff, -1px -1px 0 #f8fcff, 1px -1px 0 #f8fcff, -1px 1px 0 #f8fcff;
    } 

    End of redundant code */ 

    h3 {
    padding: 7px;
    border-radius: 7px;
    width: 350px;
    height: 60px;
    margin: auto;
    background-image: -webkit-linear-gradient(to left, black, white);
    background-image: -moz-linear-gradient(to left, black, white);
    background-image: -o-linear-gradient(to left, black, white);
    background-image: linear-gradient(to left, black, white);  
    opacity: 50%;
    }
    
    /* Title Internal Gradient */
    #grad1 {
    opacity: 95%;
    background-image: -webkit-linear-gradient(to right, #1c1c1c, #f8fcff);
    background-image: -moz-linear-gradient(to right, #1c1c1c, #f8fcff);
    background-image: -o-linear-gradient(to right, #1c1c1c, #f8fcff);
    background-image: linear-gradient(to right, #1c1c1c, #f8fcff);
    width: 350px;
    height: 60px;
    padding: 15px;
    border-radius: 18.5px;
    border: 10px;
    margin: auto;
    }

    /* Title Exterior Border Gradient */
    #grad2 {
    opacity: 65%;
    background-image: -webkit-linear-gradient(to left, #151926, #f8fcff);
    background-image: -moz-linear-gradient(to left, #151926, #f8fcff);
    background-image: -o-linear-gradient(to left, #151926, #f8fcff);
    background-image: linear-gradient(to left, #151926, #f8fcff);
    width: 350px;
    height: 60px;
    padding: 15px;
    border-radius: 18.5px;
    border: 10px;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 37px;
    padding-left: 8px;
    padding-right: 36px;
    border-collapse: separate;
    border-spacing: 150px 500px;
    }

    /* Naviation Style */
    #mainnav {
    font-family: 'Amita', cursive;
    font-size: 32px;    
    text-shadow: 1px 0 0 #f8fcff, -1px 0 0 #f8fcff, 0 1px 0 #f8fcff, 0 -1px 0 #f8fcff, 0.5px 0.5px #f8fcff, -0.5px -1px 0 #f8fcff, 0.5px -0.5px 0 #f8fcff, -0.5px 0.5px 0 #f8fcff;
    }

    #grad3 {
    opacity: 65%;
    background-image: -webkit-linear-gradient(to left, #1c1c1c, #f8fcff);
    background-image: -moz-linear-gradient(to left, #1c1c1c, #f8fcff);
    background-image: -o-linear-gradient(to left, #1c1c1c, #f8fcff);
    background-image: linear-gradient(to left, #1c1c1c, #f8fcff);
    width: 453px;
    height: 54px;
    padding: 13px;
    border-radius: 18.5px;
    border: 10px;
    margin: auto;
    }
    
    #grad4 {
    opacity: 95%;
    background-image: -webkit-linear-gradient(to right, #151926, #f8fcff);
    background-image: -moz-linear-gradient(to right, #1519z26, #f8fcff);
    background-image: -o-linear-gradient(to right, #151926, #f8fcff);
    background-image: linear-gradient(to right, #151926, #f8fcff);
    width: 450px;
    height: 52px;
    padding: 5px;
    border-radius: 18.5px;
    border: 10px;
    margin: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 2px;
    border-collapse: separate;
    border-spacing: 150px 500px;
    }

    section {
    font-family: 'Philosopher', sans-serif;
    }

    footer {
    }

    border {
    }